<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.mapper.WorkerMapper" >
  <resultMap id="BaseResultMap" type="com.test.pojo.Worker" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="qiuduiid" property="qiuduiid" jdbcType="INTEGER" />
    <result column="salary" property="salary" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.test.pojo.WorkerWithBLOBs" extends="BaseResultMap" >
    <result column="workername" property="workername" jdbcType="LONGVARCHAR" />
    <result column="zhiwei" property="zhiwei" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, qiuduiid, salary, year
  </sql>
  <sql id="Blob_Column_List" >
    workername, zhiwei
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.test.pojo.WorkerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.test.pojo.WorkerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from worker
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from worker
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.test.pojo.WorkerExample" >
    delete from worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.test.pojo.WorkerWithBLOBs" >
    insert into worker (id, qiuduiid, salary, 
      year, workername, zhiwei
      )
    values (#{id,jdbcType=INTEGER}, #{qiuduiid,jdbcType=INTEGER}, #{salary,jdbcType=INTEGER}, 
      #{year,jdbcType=INTEGER}, #{workername,jdbcType=LONGVARCHAR}, #{zhiwei,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.pojo.WorkerWithBLOBs" >
    insert into worker
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="qiuduiid != null" >
        qiuduiid,
      </if>
      <if test="salary != null" >
        salary,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="workername != null" >
        workername,
      </if>
      <if test="zhiwei != null" >
        zhiwei,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qiuduiid != null" >
        #{qiuduiid,jdbcType=INTEGER},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="workername != null" >
        #{workername,jdbcType=LONGVARCHAR},
      </if>
      <if test="zhiwei != null" >
        #{zhiwei,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.test.pojo.WorkerExample" resultType="java.lang.Integer" >
    select count(*) from worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update worker
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.qiuduiid != null" >
        qiuduiid = #{record.qiuduiid,jdbcType=INTEGER},
      </if>
      <if test="record.salary != null" >
        salary = #{record.salary,jdbcType=INTEGER},
      </if>
      <if test="record.year != null" >
        year = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.workername != null" >
        workername = #{record.workername,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.zhiwei != null" >
        zhiwei = #{record.zhiwei,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update worker
    set id = #{record.id,jdbcType=INTEGER},
      qiuduiid = #{record.qiuduiid,jdbcType=INTEGER},
      salary = #{record.salary,jdbcType=INTEGER},
      year = #{record.year,jdbcType=INTEGER},
      workername = #{record.workername,jdbcType=LONGVARCHAR},
      zhiwei = #{record.zhiwei,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update worker
    set id = #{record.id,jdbcType=INTEGER},
      qiuduiid = #{record.qiuduiid,jdbcType=INTEGER},
      salary = #{record.salary,jdbcType=INTEGER},
      year = #{record.year,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.pojo.WorkerWithBLOBs" >
    update worker
    <set >
      <if test="qiuduiid != null" >
        qiuduiid = #{qiuduiid,jdbcType=INTEGER},
      </if>
      <if test="salary != null" >
        salary = #{salary,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="workername != null" >
        workername = #{workername,jdbcType=LONGVARCHAR},
      </if>
      <if test="zhiwei != null" >
        zhiwei = #{zhiwei,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.test.pojo.WorkerWithBLOBs" >
    update worker
    set qiuduiid = #{qiuduiid,jdbcType=INTEGER},
      salary = #{salary,jdbcType=INTEGER},
      year = #{year,jdbcType=INTEGER},
      workername = #{workername,jdbcType=LONGVARCHAR},
      zhiwei = #{zhiwei,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.pojo.Worker" >
    update worker
    set qiuduiid = #{qiuduiid,jdbcType=INTEGER},
      salary = #{salary,jdbcType=INTEGER},
      year = #{year,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>